In [1]:
a=10
if a ==10:
    print("My first condition")

My first condition

In [2]:
a=10
if a>5:
    print("a is greater than 5")

a is greater than 5

In [3]:
a=10
if a>5:
    pass
else:
    pass

pass is kind a body if u are not write code in loop just write pass to aoid error

In [4]:
a=10
if a<5:
    print("a is lesser than 5")

In [5]:
a=10
if a!=10:
    print("my condition is false")
else:
    print("prit this")

prit this

In [6]:
a=11

if a==10:
    print("a equal to 10")
elif a<10:
    print("a is lesser than 10")
else:
    print("a is greater than 10")

a is greater than 10

in else dont give any condition

In [7]:
a==11

True

In [8]:
a>10

True

In [9]:
a<10

False

In [10]:
l=[1,2,3,4,5,6]

In [11]:
2 in l

True

In [12]:
if 2 in l:
    print("try task")
else:
    print("do not try")

try task

In [13]:
if 2 in l:
    print("try task")
else:
    print("do not try")

try task

In [14]:
if 10 in l:
    print("add")
elif 2 in l:
    print("sub")
elif 3 in l:
    print("mul")

sub

In [15]:
if 10 in l:
    print("add")
elif 2 in l:
    print("sub")
elif 3 in l:
    print("mul")
if 3 in l:
    print("haha")

sub
haha

In [16]:
b=input()

4

In [17]:
b

'4'

In [18]:
type(b)

str

In [19]:
c=int(input())

6

In [20]:
type(c)

int

In [21]:
c=input()

5

In [22]:
type(c)

str

In [23]:
c=int(input())
if c >100:
    print(">100")
elif c==100:
    print("=100")
else:
    print("<100")

150
>100

In [24]:
c=int(input())
if c >100:
    print(">100")
elif c==100:
    print("=100")
else:
    print("<100")

100
=100

In [35]:
c=int(input())
if c >100:
    print(">100")
    if c>200:
        print("great")
        if c>300:
            print("vgreat")
else:
    print("ok")

350
>100
great
vgreat

In [39]:
c=int(input())
if c <600:
    print("no gre")
    if c<500:
        print("tofel")
        if c<400:
            print("try somwthing")
else:
    print("gre")

400
no gre
tofel

In [43]:
val = float(input("enter float nm"))
if val >=0 :
    if val == 0:
        print("value is 0")
    else:
        print("positive")
else:
    print("negative num")

enter float nm-1
negative num

In [47]:
a = 21
if a <=10 or a>20:
    print("try somethig")

try somethig

In [48]:
a="ram"
if a=="ram"and a=="ram":
    print("this is ram")

this is ram

In [49]:
a="ram"
if a=="ram"and a=="Ram":
    print("this is ram")

In [50]:
a="ram"
if a=="ram"or a=="Ram":
    print("this is ram")

this is ram

In [51]:
a=10
b=11
c=12
d=13
if a==9 and b==11 and c==12 and d==12:
    print("true")

In [53]:
a=9
b=11
c=12
d=13
if a==9 and b==11 and c==12 and d==13:
    print("true")

true

In [54]:
a=10
b=11
c=12
d=13
if a==9 or b==11 and c==12 or d==12:
    print("true")

true

In [71]:
d = {"key1":"value" , "rk":"value1" , "r":"value2"}
d

{'key1': 'value', 'rk': 'value1', 'r': 'value2'}

In [74]:
d["r"]

'value2'

In [80]:
if d["key1"]=="value" and d["rk"]=="value1" and d["r"]=="value2":
    print("all values are validated")
    print(d.values())
else:
    print("values are not verified")

values are not verified

In [79]:
print(d.values())

dict_values(['value', 'value1', 'value2'])

In [81]:
if d["key1"]=="value1" and d["rk"]=="value1" and d["r"]=="value2":
    print("all values are validated")
    print(d.values())
else:
    print("values are not verified")

values are not verified

In [82]:
d

{'key1': 'value', 'rk': 'value1', 'r': 'value2'}

In [90]:
l=[1,2,3,4,"ram","krishna",1.2]
l

[1, 2, 3, 4, 'ram', 'krishna', 1.2]

In [91]:
for i in l:
    print(i)

1
2
3
4
ram
krishna
1.2

In [92]:
for i in l:
    print(i+1)

2
3
4
5

TypeError: can only concatenate str (not "int") to str

In [94]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
4
5
ram1
krishna1
2.2

In [95]:
l1=[]

In [96]:
for i in l:
    if type(i)==int:
        l1.append(i)

In [97]:
l1

[1, 2, 3, 4]