In [1]:
l=[1,2,3,4,5,'ram','krish',1.2]

In [2]:
l

[1, 2, 3, 4, 5, 'ram', 'krish', 1.2]

In [3]:
for i in l:
    print(i)
else:
    print("if for loop is going to complete itself then it will execute else")

1
2
3
4
5
ram
krish
1.2
if for loop is going to complete itself then it will execute else

In [4]:
l

[1, 2, 3, 4, 5, 'ram', 'krish', 1.2]

In [6]:
for i in l:
    if i == 4:
        break
    print(i)
else:
    print("this will excxute only if, for is going to complete it self")

1
2
3

In [7]:
s="ramakrishna"
for i in s:
    if i == "n":
        break
    print(i)
else:
    print("print string ",s)

r
a
m
a
k
r
i
s
h

In [8]:
s="ramakrishna"
for i in s:
    if i == "z":
        break
    print(i)
else:
    print("print string ",s)

r
a
m
a
k
r
i
s
h
n
a
print string  ramakrishna

In [10]:
t=(1,2,3,4,5,6,"ram","krish",1.2)
for i in t:
    print(i)

1
2
3
4
5
6
ram
krish
1.2

In [13]:
b={1,2,3,4,5,"ram","krish",1.2}
b

{1, 1.2, 2, 3, 4, 5, 'krish', 'ram'}

In [14]:
type(b)

set

In [15]:
for i in b:
    print(i)

1
2
3
4
5
1.2
krish
ram

In [24]:
d={'key1':"rk",'contact':'ram@123','poition':'ase'}
for i in d:
    print(i)

key1
contact
poition

In [21]:
d['key1']

'rk'

In [25]:
d={'key1':"rk",'contact':'ram@123','poition':'ase'}
for i in d:
    print(d[i])

rk
ram@123
ase

In [29]:
d={'key1':"rk",'contact':'ram@123','poition':'ase'}
for i in d:
    print(i,":",d[i])

key1 : rk
contact : ram@123
poition : ase

In [30]:
range(9)

range(0, 9)

In [31]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [33]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [36]:
list(range(0,9,-1))

[]

In [37]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
n = 4
for i in range(4):
    for j in range(0,i+1):
        print("ram",end ="   ")
    print("\n")

ram

ram   ram

ram   ram   ram

ram   ram   ram   ram

In [59]:
n=4
for i in range(4):
    for j in range(0,i+1):
        print(" "*len("ram"),"ram",end=" ")
    
    print("\n")

    ram

    ram     ram

    ram     ram     ram

    ram     ram     ram     ram

In [92]:
n=4
for i in range(0,n):
    for j in range(0,n-i-1):
        print(end="")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [98]:
n=4
for i in range(0,n):
    for j in range(0,i+1):
        print("")
    for k in range(0,n-i):
        print("*",end=" ")
print()

* * * *

* * *


* *



*

In [105]:
n=4
list(range(n,0,-1))

[4, 3, 2, 1]

In [118]:
n=4
for i in range(n,0,-1):
    for j in range(0,n-i):
        print(end="")
    for j in range(0,i):
        print("+",end=" ")
    print()

+ + + +
+ + +
+ +
+

In [119]:
t=(3,23,45,67,2,4,5,6)

In [123]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [126]:
s="ramakrishna"
for i in range(len(s)):
    print(i,s[i])

0 r
1 a
2 m
3 a
4 k
5 r
6 i
7 s
8 h
9 n
10 a

In [141]:
s="ramakrishna"
for i in range(len(s),0,-1):
    print(i-1,s[i-1])

10 a
9 n
8 h
7 s
6 i
5 r
4 k
3 a
2 m
1 a
0 r

In [139]:
s=[1,2,3,4]
for i in range(len(s),0,-1):
    print(i,s[i-1])

4 4
3 3
2 2
1 1

In [144]:
s="ramakrishna"
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

10 a
9 n
8 h
7 s
6 i
5 r
4 k
3 a
2 m
1 a
0 r

In [145]:
d

{'key1': 'rk', 'contact': 'ram@123', 'poition': 'ase'}

In [148]:
 for i in d.items():
        print(i,type(i),type(i[1]))

('key1', 'rk') <class 'tuple'> <class 'str'>
('contact', 'ram@123') <class 'tuple'> <class 'str'>
('poition', 'ase') <class 'tuple'> <class 'str'>

In [158]:
l= ["rama","kumar",1234,"ram@123",33,45]
l1=[]
for i in l:
     if type(i)==int:
            l1.append(i)

In [160]:
l1

[1234, 33, 45]

In [150]:
for i in d.items():
    print(type(i[1]))

<class 'str'>
<class 'str'>
<class 'str'>

In [152]:
d1={"a":1,"b":2}
for i in d1.items():
    print(type(i[1]))

<class 'int'>
<class 'int'>

In [159]:
l1

[1234, 33, 45]

In [161]:
d

{'key1': 'rk', 'contact': 'ram@123', 'poition': 'ase'}

In [174]:
d={1:1234,2:123,"name":"ram",3:123}
l2=[]
for i in d:
    if type(i)==int:
        l2.append(i)
        print(i,d[i])
    
l2

1 1234
2 123
3 123

[1, 2, 3]

In [191]:
s="aaabbc"
s1=list(set(s))
for i in set(s):
    print(i,s.count(i))

b 2
a 3
c 1

In [201]:
i=1234567
j=str(i)
for k in j:
    print(int(k),type(int(j)))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>

In [196]:
str(i)

'1234567'

In [224]:
t=(3,"sudh","kumar",[1,2,3,4],(1,2,3),{3:3,"key2":"rk"})
for i in t:
    if i==3:
        print(i)
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
            
    if type(i)==dict:
        for k,v in i.items():
            if k==3 or v==3:
                print(k)
                print(v)

3
3
3
3
3

In [231]:
d={4:5,"key1":"rsm","key2":"hi"}
for i,j in d.items():
    print(i,j)

4 5
key1 rsm
key2 hi

In [232]:
d.items()

dict_items([(4, 5), ('key1', 'rsm'), ('key2', 'hi')])

In [233]:
a=10
b=20
c=30

In [234]:
a,b,c=10,20,30

In [235]:
a,b,c=(10,20,30)

In [236]:
a

10