In [1]:
s="Hi,everyone good morning to all.today we are going to discuss the pythonin ineuron"

Q1 : try to extract data from index one to index 300 with a jump of 3

In [2]:
s[0:300:3]

'Herngdoi  loyergntdcshphiiun'

Q2 : try to reverse a strinbg withoout using reverse function
Q3: try to split a string after converion of entire string in uppercase
Q3: try to convert the whole string into lowercase
    5. try to capitalize the whole string
    6.write a difference isanum() and isalpha()
    7.try to give ab example of expand tab
    8.give an example o strip, lsstrip and restrip
    9.Replace a string charaecter by another charecter by taking your own example ex:Ramakrishna
    10.try to give a definition of string center function with and example
    11.write your own definition of compiler and interpreter without copy paste fron internert
    12.python is a interpreted of compiled language give a clear ans with your understanding
    13.try to write a usecase of python with your understanding.

Q2 : try to reverse a strinbg withoout using reverse function

s[::-1]

Q3: try to split a string after converion of entire string in uppercase

In [3]:
s1 = s.upper()
s1.split()

['HI,EVERYONE',
 'GOOD',
 'MORNING',
 'TO',
 'ALL.TODAY',
 'WE',
 'ARE',
 'GOING',
 'TO',
 'DISCUSS',
 'THE',
 'PYTHONIN',
 'INEURON']

Q4: try to convert the whole string into lowercase

In [4]:
s2=s.lower()
s2

'hi,everyone good morning to all.today we are going to discuss the pythonin ineuron'

5. try to capitalize the whole string 6.write a difference isanum() and isalpha()

In [5]:
s3=s.capitalize()
s3

'Hi,everyone good morning to all.today we are going to discuss the pythonin ineuron'

6.write a difference isanum() and isalpha()

In [6]:
a1 = "Rama123"
a1.isalnum()

True

In [7]:
a2 = "rama123"
a2.isalpha()

False

7.try to give ab example of expand tab

In [8]:
s="fvghbn\tghjnm\thb"
s.expandtabs()

'fvghbn  ghjnm   hb'

8.give an example of strip, lsstrip and restrip

s="     ram    "
s.strip()

In [9]:
s.lstrip()

'fvghbn\tghjnm\thb'

In [10]:
s.rstrip()

'fvghbn\tghjnm\thb'

9.Replace a string charaecter by another charecter by taking your own example ex:Ramakrishna

In [11]:
ad = "ramakrishna"
ad.replace("rama","ram")

'ramkrishna'

10.try to give a definition of string center function with and example

In [12]:
s="ram"
s.center(10,'#')

'###ram####'

11.write your own definition of compiler and interpreter without copy paste fron internert

Pyhton is a compiled and interpreter language.first compiled .py then interpreted(.pyc)

13.try to write a usecase of python with your understanding.

Developing websites,
task automation,
data anaysis,
data visualozation,
and manymore.

Task 2:
    1.l=[3,4,5,6,7,[23,456,45,45,435],[34,56,24],(243,445,4),{"key1":"sudh",234:[23,45,656]}]
    1.try to reverse a list
    2.try to access 234 in the list
    3.try to access 456
    4.try to extract only a list collection from list1
    5.try to extract "sudh"
    6.try to extarct list all the key in dict elements available in the list
    7.try to extract all the value element form dict available in list.

1.try to reverse a list

In [13]:
l=[3,4,5,6,7,[23,456,45,45,435],[34,56,24],(234,445,4),{"key1":"sudh",234:[23,45,656]}] 
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 445, 4),
 [34, 56, 24],
 [23, 456, 45, 45, 435],
 7,
 6,
 5,
 4,
 3]

2.try to access 234 in the list

In [14]:
l[7][0]

234

In [15]:
list(l[8].keys())[1]

234

3.try to access 456

In [16]:
l[5][1]

456

4.try to extract only a list collection from list1

In [17]:
l[5:7]

[[23, 456, 45, 45, 435], [34, 56, 24]]

In [18]:
l[5]

[23, 456, 45, 45, 435]

In [19]:
l[6]

[34, 56, 24]

5.try to extract "sudh"

In [20]:
list(l[8].values())[0]

'sudh'

6.try to extarct list all the key in dict elements available in the list

In [21]:
list(l[8].keys())

['key1', 234]

7.try to extract all the value element form dict available in list.

In [22]:
list(l[8].values())

['sudh', [23, 45, 656]]

Task 3

In [24]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

In [25]:
n=int(input("enter the number of rows:"))
for i in range(n+1):
    
    print("ineuron" " " *i)

enter the number of rows:

ValueError: invalid literal for int() with base 10: ''

In [26]:
n=int(input("enter the number of rows:"))
for i in range(n+1):
    
    print(("ineuron" "  "*i).center(50,' '))

enter the number of rows:

ValueError: invalid literal for int() with base 10: ''

In [27]:

for i in range(6):
    if i<=3:
        n=i
    else:
        n=6-i
    print(("ineuron "*n).center(50,' '))

                     ineuron
                 ineuron ineuron
             ineuron ineuron ineuron
                 ineuron ineuron
                     ineuron

In [28]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity

In [29]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

q4 : Try to extract all the dict enteties

In [30]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

q5 : Try to extract all the tuples entities

In [31]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

q6 : Try to extract all the numerical data it may b a part of dict key and values

In [32]:
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int:
                    l1.append(g)
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

q7 : Try to give summation of all the numeric data

In [33]:
sum(l1)

156

In [34]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [35]:
l2=[]
for i in l1:
    if i%2==0:
        pass
    else:
        l2.append(i)

In [36]:
l2

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

In [37]:
l2=[]
for i in l1:
    if i%2==0:
        pass
    else:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [38]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [39]:
l[5][0]

'ineuron'

In [40]:
l3=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if j=="ineuron":
                l3.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if g=="ineuron":
                    l3.append(g)

###

In [41]:
l3

['ineuron', 'ineuron']

q10 :Try to find out a number of occurances of all the data

In [42]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [43]:
l4=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int or type(j)==str:
                l1.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int or type(g)==str:
                    l1.append(g)
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 3,
 6,
 7,
 8,
 1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [44]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 3,
 6,
 7,
 8,
 1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [45]:
for i in set(l1):
    print(i,":",l1.count(i))

1 : 2
2 : 4
3 : 8
4 : 8
5 : 6
6 : 6
7 : 4
8 : 2
k1 : 1
ineuron : 2
45 : 2
k3 : 1
k2 : 1
sudh : 1
kumar : 1
data science  : 1
23 : 2

q11 : Try to find out number of keys in dict element

In [46]:
for i in l:
    if type(i)==dict:
        print(len(i.keys()))

5

In [47]:
for i in l:
    if type(i)==dict:
        print(len(i))

5

q12 : Try to filter out all the string data

In [48]:
for i in l1:
    if type(i)==str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

q13 : Try to Find  out alphanum in data

In [49]:
for i in l1:
    if type(i)==str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

Q12: Try to find out multiplication of all numeric value in the individual collection inside dataset

In [50]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 3,
 6,
 7,
 8,
 1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [51]:


    l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [52]:

for i in l:
    m=1
    if type(i)==list or type(i)== tuple or type(i)== set:
        for j in i:
            if type(j)==int:
                m=m*j
        print(m)
    if type(i)==dict:
        for k in i.items():
            for n in k:
                if type(n)==int:
                    m=m*n
        print(m)

24
720
2520
20700
1008
1

In [53]:
#Task 4

In [54]:
q1 : Try to print this by using while loop 
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * * * 

q2 : try to print below by using while loop : 
        
A
B H 
C I N
D J o S
E K p T W
F L Q U X z
G M R V Y 

q3 : Try to print all the number divisible by 3 in between a range of 40 - 400
    
q4 : Try to filter out all the vowels form below text by using while loop : 
 """Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

Python consistently ranks as one of the most popular programming languagesc""" 


q5 : Try to generate all the even number between 1- 1000

q6 : Define a function for all the above problem statememnt  . 
    
q7 : write a code to get a time of your system 

q8 : Write a code to fetch date form your system 

q9 : Write a code to send a mail to your friend 

q10 : write a code to trigger alarm for you at scheduled time 

q11 : write a code to check ip address of your system 

q12 : Write a code to check a perticular installation in your system

q13 : Write a code to convert any text in to voice 

q14 : you have to write a fun which will take string and return a len of 
it without using a inbuilt fun len

q15 :write a fun which will be able to print an index of all premitive element which you will pass 

q16 : Write a fun which will take input as a dict and give me out as a list of all the values 
even in case of 2 level nesting it should work . 

q17 : write a function whihc will take multiple list as a input and give me concatnation of all the element as 
and output

q18 : Write a function which will whould return list of all the file name from a directory . 

q19 : write a function whihc will be able to read a image file and show it to you .
    
q20 : write a function by which you will be able to append two PDF files . 
    
q21 : write a function which can help you to filter only word file from a directory . 
    
q22 : write a function which can read video file and play for you . 
    
q23 : write a function which will be able to shutdonw your system . 

q24 : Write a function which will whould return list of all the file name from a directory . 

q25 : write a function whihc will be able to access your mail .

SyntaxError: invalid syntax (3342421035.py, line 1)

In [55]:
q1 : Try to print this by using while loop 
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * * *

SyntaxError: invalid syntax (4094368511.py, line 1)

In [56]:
i=9
n=1
while n<=i:
    print("* "*n)
    n=n+1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [57]:
q2 : try to print below by using while loop : 
        
A
B H 
C I N
D J o S
E K p T W
F L Q U X z
G M R V Y

SyntaxError: invalid syntax (1223279439.py, line 1)

In [58]:
i=0
while i<7:
    l=7
    k=i+65  
    for j in range(i+1):
        if chr(k).isalpha():
         print(chr(k),end=" ") 
         l-=1
         k+=l     
    i += 1
    print()

A
B H
C I N
D J O S
E K P T W
F L Q U X Z
G M R V Y

In [59]:
i=0
while i<7:
    c=65+i
    j=0
    while j <(i+1):
        if c==91:
            break
        print(chr(c),end=" ")
        c=c+6-j
        j+=1
    i+=1
    print()

A
B H
C I N
D J O S
E K P T W
F L Q U X Z
G M R V Y

In [61]:
while True:
    try:
        a=int(input("enter first number"))
        b=int(input("enter second number"))
        c=a/b
        print(c)
        break
    
    except ValueError: 
        print("there should not be string")
    except ZeroDivisionError:
        print("non zero denomitor")

enter first number10
enter second number0
non zero denomitor
enter first number10
enter second numberrs
there should not be string
enter first number1
enter second number1
1.0

In [63]:


while True:
    try:
        a=int(input("enter first num"))
        b=int(input("enter second number"))
        if a<0 or b<0:
            raise Exception ("neg number not allowed")
        c=a/b
        print("div is ",c)
        break
    except ValueError:
        print("please enter value only")
    except ZeroDivisionError:
        print("please enter non zero dinimonator")
    except Exception as e:
        print(e)

enter first num10
enter second number-1
neg number not allowed
enter first num10
enter second numberre
please enter value only
enter first num10
enter second number10
div is  1.0

In [65]:
class NegativeException(Exception):
    pass

In [66]:
#custom Exception
while True:
    try:
        a=int(input("enter first num"))
        b=int(input("enter second number"))
        if a<0 or b<0:
            raise NegativeException ("neg number not allowed")
        c=a/b
        print("div is ",c)
        break
    except ValueError:
        print("please enter value only")
    except ZeroDivisionError:
        print("please enter non zero dinimonator")
    except NegativeException as e:
        print(e)

enter first num10
enter second number0
please enter non zero dinimonator
enter first num10
enter second number-1
neg number not allowed
enter first num1
enter second number1
div is  1.0

In [67]:
a=[1,2,3,4,5]
next(a)

TypeError: 'list' object is not an iterator

In [68]:
a=iter(a)
next(a)

1

In [69]:
next(a)

2

In [70]:
next(a)

3

In [71]:
next(a)

4

In [72]:
next(a)

5

In [73]:
next(a)

StopIteration:

In [79]:
def sq_f(n):
    x=[i**2 for i in range(n)]
    return x

In [80]:
sq_f(5)

[0, 1, 4, 9, 16]

In [81]:
def sq_f(n):
    x=[i**2 for i in range(n)]
    yield x

In [82]:
sq_f(2)

In [83]:
range(5)

range(0, 5)

In [85]:
for i in sq_f(4):
    print(i)

[0, 1, 4, 9]

In [86]:
next(sq_f(4))

[0, 1, 4, 9]

In [90]:
def gen_fib(n):
    a=1
    b=1
    l=[]
    for i in range(n):
        l.append(a)
        a,b=b,a+b
    return l

In [91]:
gen_fib(5)

[1, 1, 2, 3, 5]

In [92]:
def gen_fib(n):
    a=1
    b=1

    for i in range(n):
        yield a
        a,b=b,a+b

In [93]:
gen_fib(5)

In [94]:
for i in gen_fib(5):
    print(i)

1
1
2
3
5

In [95]:
for i in gen_fib(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [102]:
f=open("rama.txt",'w')

In [103]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9876-FD79

 Directory of C:\Users\Sai Ram Nagendra

07/10/2022  06:53 PM    <DIR>          .
07/10/2022  06:53 PM    <DIR>          ..
06/29/2022  09:38 PM    <DIR>          .conda
06/29/2022  09:37 PM                25 .condarc
06/29/2022  09:36 PM    <DIR>          .continuum
07/10/2022  09:40 AM    <DIR>          .ipynb_checkpoints
06/30/2022  09:50 AM    <DIR>          .ipython
07/01/2022  10:58 AM    <DIR>          .jupyter
07/01/2022  10:58 AM                47 .python_history
06/29/2022  08:31 PM    <DIR>          3D Objects
07/10/2022  06:53 PM            57,619 4th_June_python class.ipynb
06/29/2022  09:35 PM    <DIR>          Anaconda3
06/29/2022  08:31 PM    <DIR>          Contacts
06/29/2022  08:51 PM    <DIR>          Desktop
06/29/2022  09:34 PM    <DIR>          Documents
07/10/2022  09:39 AM    <DIR>          Downloads
07/10/2022  09:42 AM            52,100 Exception handling.ipynb
06/29/2022  08:31 PM    <DIR>          Favorites
07/01/2022  08:12 AM            41,960 for loop practice  (1).ipynb
06/29/2022  08:31 PM    <DIR>          Links
06/29/2022  08:31 PM    <DIR>          Music
06/29/2022  08:35 PM    <DIR>          OneDrive
06/29/2022  08:35 PM    <DIR>          Pictures
07/10/2022  06:53 PM                 0 rama.txt
07/07/2022  10:02 AM           113,562 Revision and task solving (1).ipynb
06/29/2022  08:31 PM    <DIR>          Saved Games
06/29/2022  08:33 PM    <DIR>          Searches
07/01/2022  11:46 AM             4,272 Untitled.ipynb
07/01/2022  11:49 AM               589 Untitled1.ipynb
07/01/2022  12:08 PM               907 Untitled2.ipynb
06/29/2022  08:31 PM    <DIR>          Videos
              10 File(s)        271,081 bytes
              21 Dir(s)  129,736,601,600 bytes free

In [104]:
f.write("hello rama")

10

In [105]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9876-FD79

 Directory of C:\Users\Sai Ram Nagendra

07/10/2022  06:57 PM    <DIR>          .
07/10/2022  06:57 PM    <DIR>          ..
06/29/2022  09:38 PM    <DIR>          .conda
06/29/2022  09:37 PM                25 .condarc
06/29/2022  09:36 PM    <DIR>          .continuum
07/10/2022  09:40 AM    <DIR>          .ipynb_checkpoints
06/30/2022  09:50 AM    <DIR>          .ipython
07/01/2022  10:58 AM    <DIR>          .jupyter
07/01/2022  10:58 AM                47 .python_history
06/29/2022  08:31 PM    <DIR>          3D Objects
07/10/2022  06:57 PM            57,657 4th_June_python class.ipynb
06/29/2022  09:35 PM    <DIR>          Anaconda3
06/29/2022  08:31 PM    <DIR>          Contacts
06/29/2022  08:51 PM    <DIR>          Desktop
06/29/2022  09:34 PM    <DIR>          Documents
07/10/2022  09:39 AM    <DIR>          Downloads
07/10/2022  09:42 AM            52,100 Exception handling.ipynb
06/29/2022  08:31 PM    <DIR>          Favorites
07/01/2022  08:12 AM            41,960 for loop practice  (1).ipynb
06/29/2022  08:31 PM    <DIR>          Links
06/29/2022  08:31 PM    <DIR>          Music
06/29/2022  08:35 PM    <DIR>          OneDrive
06/29/2022  08:35 PM    <DIR>          Pictures
07/10/2022  06:53 PM                 0 rama.txt
07/07/2022  10:02 AM           113,562 Revision and task solving (1).ipynb
06/29/2022  08:31 PM    <DIR>          Saved Games
06/29/2022  08:33 PM    <DIR>          Searches
07/01/2022  11:46 AM             4,272 Untitled.ipynb
07/01/2022  11:49 AM               589 Untitled1.ipynb
07/01/2022  12:08 PM               907 Untitled2.ipynb
06/29/2022  08:31 PM    <DIR>          Videos
              10 File(s)        271,119 bytes
              21 Dir(s)  129,736,978,432 bytes free

In [106]:
f.close()

In [107]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9876-FD79

 Directory of C:\Users\Sai Ram Nagendra

07/10/2022  06:59 PM    <DIR>          .
07/10/2022  06:59 PM    <DIR>          ..
06/29/2022  09:38 PM    <DIR>          .conda
06/29/2022  09:37 PM                25 .condarc
06/29/2022  09:36 PM    <DIR>          .continuum
07/10/2022  09:40 AM    <DIR>          .ipynb_checkpoints
06/30/2022  09:50 AM    <DIR>          .ipython
07/01/2022  10:58 AM    <DIR>          .jupyter
07/01/2022  10:58 AM                47 .python_history
06/29/2022  08:31 PM    <DIR>          3D Objects
07/10/2022  06:59 PM            60,418 4th_June_python class.ipynb
06/29/2022  09:35 PM    <DIR>          Anaconda3
06/29/2022  08:31 PM    <DIR>          Contacts
06/29/2022  08:51 PM    <DIR>          Desktop
06/29/2022  09:34 PM    <DIR>          Documents
07/10/2022  09:39 AM    <DIR>          Downloads
07/10/2022  09:42 AM            52,100 Exception handling.ipynb
06/29/2022  08:31 PM    <DIR>          Favorites
07/01/2022  08:12 AM            41,960 for loop practice  (1).ipynb
06/29/2022  08:31 PM    <DIR>          Links
06/29/2022  08:31 PM    <DIR>          Music
06/29/2022  08:35 PM    <DIR>          OneDrive
06/29/2022  08:35 PM    <DIR>          Pictures
07/10/2022  06:59 PM                10 rama.txt
07/07/2022  10:02 AM           113,562 Revision and task solving (1).ipynb
06/29/2022  08:31 PM    <DIR>          Saved Games
06/29/2022  08:33 PM    <DIR>          Searches
07/01/2022  11:46 AM             4,272 Untitled.ipynb
07/01/2022  11:49 AM               589 Untitled1.ipynb
07/01/2022  12:08 PM               907 Untitled2.ipynb
06/29/2022  08:31 PM    <DIR>          Videos
              10 File(s)        273,890 bytes
              21 Dir(s)  129,736,048,640 bytes free

In [108]:
l=[1,2,3,4,5]

In [109]:
l

[1, 2, 3, 4, 5]

In [113]:
f=open("ram.txt",'w')

In [114]:
f.write(str(l))

15

In [115]:
f.close()

In [116]:
%%writefile test.txt
hello good morning

Writing test.txt

In [117]:
f=open('test.txt')

In [118]:
f.read()

'hello good morning\n'

In [119]:
f.read()

''

In [120]:
f.seek(0)

0

In [121]:
f.read()

'hello good morning\n'

In [122]:
f.read()

''

In [123]:
f.seek(0)

0

In [124]:
f.read()

'hello good morning\n'

In [125]:
f.seek(10)

10

In [126]:
f.read()

' morning\n'

In [127]:
f.tell()

20

In [128]:
f.read()

''

In [129]:
f.seek(1)

1

In [130]:
f.tell()

1

In [165]:
f.read(10)

ValueError: I/O operation on closed file.

In [171]:
f=open("test.txt",'r')
f.read()
f.close()

In [179]:
f=open("test.txt",'a')
f.write("\nhhh")
f.close()

In [180]:
f=open("test.txt",'r')
f.read()

'hello good morning\nhhhhhhhhhhhh\nhhh'

In [181]:
f.name

'test.txt'

In [182]:
f.readlines

In [184]:
l=[1,2,3,4]
l1=[]
for i in l:
    l1.append(i**2)

In [185]:
l1

[1, 4, 9, 16]

In [186]:
def sq(n):
    return n**2

In [187]:
sq(6)

36

In [189]:
map(sq,l)

In [191]:
list(map(sq,l))

[1, 4, 9, 16]

In [192]:
map(lambda x:x**2,l)

In [193]:
list(map(lambda x:x**2,l))

[1, 4, 9, 16]

In [194]:
list(map(lambda x:str(x),l))

['1', '2', '3', '4']

In [196]:
def str_c(n):
    return str(n)

In [198]:
list(map(str_c,l))

['1', '2', '3', '4']

In [199]:
list(map(str,l))

['1', '2', '3', '4']

In [201]:
from functools import reduce

In [202]:
l=[1,2,3,4,5]
sum(l)

15

In [203]:
reduce(lambda a,b:a+b,l)

15

In [204]:
l=[1,2,3,4,5]
filter(lambda x:x%2==0,l)

In [205]:
l=[1,2,3,4,5]
list(filter(lambda x:x%2==0,l))

[2, 4]

In [209]:
def ev(n):
    if n%2==0:
        return True

In [210]:
list(filter(ev,l))

[2, 4]